*.vo
*.glob
*.v.d
*.aux
*.vio
*.vos
*.vok
*~
*.install
.Makefile.coq.d
Makefile.coq
Makefile.coq.bak
Makefile.coq.conf
.coqdeps.d
ml/KVSAlg1.ml
ml/KVSAlg1.mli
ml/KVSAlg2.ml
ml/KVSAlg2.mli
ml/KVSAlg3.ml
ml/KVSAlg3.mli
benchgen.native
launchStore1.native
launchStore2.native
launchStore3.native
experiment.native
_build
.lia.cache
.merlin
