*.vo
*.glob
*.v.d
*.aux
*.vio
*.vos
*.vok
*~
.Makefile.coq.d
Makefile.coq
Makefile.coq.bak
Makefile.coq.conf
.coqdeps.d
coq/KVSAlg1.ml
coq/KVSAlg1.mli
coq/KVSAlg2.ml
coq/KVSAlg2.mli
coq/KVSAlg3.ml
coq/KVSAlg3.mli
benchgen.native
launchStore1.native
launchStore2.native
launchStore3.native
experiment.native
_build
.lia.cache
